.asset-right {
    width: 27%;
    direction: rtl;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 345px;
}

.asset-right-container{
    width: 90%;
    margin: auto;
    padding: 25px 0;
}

.asset-right-container .total-value{
    text-align: center;
    z-index: 2;
}