.asset-right {
    width: 27%;
    direction: rtl;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 345px;
}

.asset-right-container{
    width: 90%;
    margin: auto;
    padding: 25px 0;
}

.asset-right-container .total-value{
    text-align: center;
    position: relative;
    bottom: 120px;
    font-size: 20px;
}


.asset-right-title{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    align-items: center;
}

#asset-right-title-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#asset-right-title-blue {
    width: 15px;
    height: 15px;
    background-color: #243F99;
    border-radius: 50%;
}

#asset-right-title-pink {
    width: 15px;
    height: 15px;
    background-color: #E22860;
    border-radius: 50%;
}

#asset-right-title-purple {
    width: 15px;
    height: 15px;
    background-color: #5E4BBC;
    border-radius: 50%;
}

@media screen and (max-width:1000px) {
        .asset-right {
            width: 369px;
        }
}