.dashbord-panel{
    width: 94%;
    margin: auto;
    color: #1B358C;
}

.dashbord-panel .dashbord-panel-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1000px) {
    .dashbord-panel .dashbord-panel-top {
        flex-direction: column;
        row-gap: 30px;
    }
}