.user-information-input span {
    padding: 0 2px;
    font-size: 14px;
    margin-bottom: 20px;
}

.user-information-input input {
    width: 100%;
    border: none;
    color: black;
    background-color: #D8E3FE;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.user-information-input input:hover{
    background-color: #a4baf1;
    transition: .4s;
}

@media screen and (max-width:800px) {
    
.user-information-flex {
    flex-direction: column;
}
.user-information-flex1 {
    width: 100%;
}
.user-information-flex2 {
    width: 100%;
}
}